.pictures{
    display: flex;
    flex-direction: row;
    margin-top: -20px;
}

.pictures img{
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 0;
    width: 60%;
}
.pictures img {
    transition: transform 0.2s ease-in-out;
  }

  .pictures img:hover{
    transform: scale(1.2);
    animation-duration: 0.1s, ease;
  }
